
<html>
    <body>

 <div class="container">
<hr>
<%if(files){%>
    <% files.forEach(function(file){ %>
        <div class="card card-body mb-3">
     <%if(file.isImage){%>
        <%=file.filename%>
        <img src="image/<%=file.filename%>"  alt="">
        <%}else{%>
          <%=file.filename%>
          <%}%>
        </div>
        <%});%>
 
   <%} else{%>
<p>No File to show</p>
    <%}%>
</div>
</body>
</html>